<!doctype html>
<html>
  <head>
    <title>Add Food</title>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e6e619;
}

li {
  float: left;
  border-right:1px solid black;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 18px 12px;
}

li a:hover:not(.active) {
  background-color: #6495ED;
}

.active {
  background-color: #00bfff;
}
</style>
</head>
<body>


<ul>
  <li><a href="./">Home</a></li>
  <li><a href='/register'>Register</a></li>
  <li><a href='/login'>Login</a></li>
  <li><a class="active" href='/addfood'>Add Food</a></li>
  <li><a href='/list'>Food List</a></li>
  <li><a href='/search'>Search food</a></li>
  <li><a href='/updatefood'>Update Food</a></li>
  <li><a href='/deletefood'>Delete Food</a></li>
  <li><a href='/myfood'>My food</a></li>
  <!-- <li><a href='/addrecipe'>Make Recipe</a></li> -->
  <li><a href='/logout'>Logout</a></li>
  <li><a href='/api'>Api</a></li>
  <li><a href='/about'>About</a></li>
</ul>


  <h1 style="background-color:powderblue;"> This is Add food Page </h1>
        <p style="font-family:courier;">Please fill related data to add the food to the database <br /> *"g" and "kcal" will be added automatically please do not include them*</p>

<form method="POST" action="/foodadded">
 <h4>Food's name: <input id="name" type="text" name="name" value="food's name" /></h4>
  <h4>Food's typical value:<input id="value" type="text" name="value" value="food's typical value" /></h4>
 <h4>Food's unit of typical value: <input id="typValue" type="text" name="typValue" value="food's unit of typival value" /></h4>
  <h4>Food's calories (kcal): <input id="calories" type="text" name="calories" value="food's calories" /></h4>
 <h4>Food's carbs (g): <input id="carbs" type="text" name="carbs" value="food's carbs" /></h4>
  <h4>Food's fat (g): <input id="fat" type="text" name="fat" value="food's fat" /></h4>
  <h4>Food's protein (g): <input id="protein" type="text" name="protein" value="food's protein" /></h4>
  <h4>Food's salt (g): <input id="salt" type="text" name="salt" value="food's salt" /></h4>
 <h4>Food's sugar (g): <input id="sugar" type="text" name="sugar" value="food's sugar" /></h4>

 <input type="submit" value="Submit" />
</form>

 </body>
</html>
