<!doctype html>
<html>
  <head>
    <title>Homepage</title>
<link rel="stylesheet" href="mystyle.css">


<style>

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e6e619;
}

li {
  float: left;
  border-right:1px solid black;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 18px 12px;
}

li a:hover:not(.active) {
  background-color: #6495ED;
}

.active {
  background-color: #00bfff;
}

</style>
</head>
<body>


<ul class="ul">
  <li><a class="active" href="./">Home</a></li>
  <li><a href='/register'>Register</a></li>
  <li><a href='/login'>Login</a></li>
  <li><a href='/addfood'>Add Food</a></li>
  <li><a href='/list'>Food List</a></li>
  <li><a href='/search'>Search food</a></li>
  <li><a href='/updatefood'>Update Food</a></li>
  <li><a href='/deletefood'>Delete Food</a></li>
  <li><a href='/addrecipe'>Make Recipe</a></li>
  <li><a href='/logout'>Logout</a></li>
  <li><a href='/api'>Api</a></li>
  <li><a href='/about'>About</a></li>
</ul>


  <h1> Welcome to my Calorie Buddy Dynamic Web Application</h1>

    <p style="font-family:courier;">This dynamic web application will function as a digital calorie counter to help you manage your diet.<br />The dynamic web application interacts with you to calculate and display nutritional facts including calories for your recipes based on food ingredients in the recipe.</p>
<br />
    <p style="font-family:courier;">Using the navegation bar you can access different functions of the web like register a new user, login, log out etc.</p>

</body>
</html>

<!--
<strong><a style="color:#6600cc;" href='/register'>Register</a>
<br /><a style="color:#4d0099;" href='/addfood'>Add Food</a>
<br /><a style="color:#6600cc;" href='/list'>Food List</a>
<br /><a style="color:#4d0099;" href='/search'>Search</a>
<br /><a style="color:#6600cc;" href='/listusers'>User List</a>
<br /><a style="color:#4d0099;" href='/updatefood'>Update Food</a>
<br /><a style="color:#6600cc;" href='/login'>Login	</a>
<br /><a style="color:#4d0099;" href='/deletefood'>Delete Food</a>
<br /><a style="color:#6600cc;" href='/addrecipe'>Add Recipe</a>
<br /><a style="color:#4d0099;" href='/recipes'>Your recipes</a>

<br /><a style="color:#6600cc;" href='/logout'>Logout</a>
<br /><a style="color:#4d0099;" href='/weatherform'>Weather Form</a>
<br /><a style="color:#6600cc;" href='/api'>Api</a> -->



