<!doctype html>
<head>
    <title>Login</title>
 
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e6e619;
}

li {
  float: left;
  border-right:1px solid black;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 18px 12px;
}

li a:hover:not(.active) {
  background-color: #6495ED;
}

.active {
  background-color: #00bfff;
}
</style>
</head>
<body>


<ul>
  <li><a href="./">Home</a></li>
  <li><a href='/register'>Register</a></li>
  <li><a class="active" href='/login'>Login</a></li>
  <li><a href='/addfood'>Add Food</a></li>
  <li><a href='/list'>Food List</a></li>
  <li><a href='/search'>Search food</a></li>
  <li><a href='/updatefood'>Update Food</a></li>
  <li><a href='/deletefood'>Delete Food</a></li>
  <li><a href='/myfood'>My food</a></li>
  <!-- <li><a href='/addrecipe'>Make Recipe</a></li> -->
  <li><a href='/logout'>Logout</a></li>
  <li><a href='/api'>Api</a></li>
  <li><a href='/about'>About</a></li>
</ul>


 <h1 style="background-color:powderblue;"> This is Login Page </h1>
        <p style="font-family:courier;">Please enter your username and password to login</p>
<form method="POST" action="/loggedin">
 <h4>Username: <input id="username" type="text" name="username" value="username" /></h4>
  <h4>Password: <input id="password" type="text" name="password" value="password" /></h4>
  <input type="submit" value="Submit" />
</form>

 </body>
</html>
