
<!doctype html>
<html>
  <head>
    <title>Update Food</title>

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e6e619;
}

li {
  float: left;
  border-right:1px solid black;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 18px 12px;
}

li a:hover:not(.active) {
  background-color: #6495ED;
}

.active {
  background-color: #00bfff;
}
</style>
</head>
<body>


<ul>
  <li><a href="./">Home</a></li>
  <li><a href='/register'>Register</a></li>
  <li><a href='/login'>Login</a></li>
  <li><a href='/addfood'>Add Food</a></li>
  <li><a href='/list'>Food List</a></li>
  <li><a href='/search'>Search food</a></li>
  <li><a class="active" href='/updatefood'>Update Food</a></li>
  <li><a href='/deletefood'>Delete Food</a></li>
  <li><a href='/myfood'>My food</a></li>
  <!-- <li><a href='/addrecipe'>Make Recipe</a></li> -->
  <li><a href='/logout'>Logout</a></li>
  <li><a href='/api'>Api</a></li>
  <li><a href='/about'>About</a></li>
</ul>
  

<h1 style="background-color:powderblue;"> This is update food Page </h1>
        <p style="font-family:courier;">Please fill related data to update the food</p>
	<p style="font-family:courier;">* Bear in mind the caps as food name must match exactly food name stored in database *</p>

<form method="POST" action="/updated">

<!-- Get food to be updated -->
 <h4>Food's name: <input id="name" type="text" name="name" value="food's name" /></h4>

<!-- Get field to be updated  value -->
<h4>Food's field to be updated:
<select id="updatefield" name="updatefield">
   <option> Please select one</option>
   <option value="name">Name</option>
   <option value="value">Typical value per</option>
   <option value="typValue">Unit of the typical value</option>
   <option value="calories">Calories</option>
   <option value="carbs">Carbs</option>
   <option value="fat">Fat</option>
   <option value="protein">Protein</option>
   <option value="salt">Salt</option>
   <option value="sugar">Sugar</option>

 </select> 
</h4>

<!-- Get user's input for the new value -->
 <h4>Food's updated new value: <input id="updatevalue" type="text" name="updatevalue" value="food's unit of typival value" /></h4>

<input type="submit" value="Submit" />
</form>

 </body>
</html>         


